form {
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

button {
  margin: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.selected {
  background-color: #007bff;
  color: white;
}

input {
  margin-top: 8px;
  margin-bottom: 16px;
  padding: 6px;
  width: 100%;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  margin-top: 10px;
}

.image-preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.profile-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  width: 50px;
  height: 50px;
  background-color: #9155fd;
  color: white;
  font-weight: bold;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.form-container{
  border:1px solid rgb(247, 238, 238);
  text-align: left;
}
.subpage-container{
  border:1px solid rgb(247, 238, 238);

}
.location-container{
   border:1px solid rgb(247, 238, 238);
 
}
a{
  color:rgb(4, 4, 136);
}